{% extends 'layouts/base.html' %}

{% block title %}Minimercado RickRolling{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ver-productos.css')}}" />
{% endblock %}

{% block context %}ver-pedido{% endblock %}

{% block header %}
{% include 'includes/navigation.html'%}
{% endblock %}

{% block content %}
<main>
  <div class="container" id="container1">
    <div class="information-content">
        <h2>PEDIDO: Total de Pedidos Por Comuna</h2>
        <p>Las primeras 10 comunas con mayor número de pedidos</p>
      <div id = "circle-contaniner"></div>
    </div>
  </div>

  <div class="container" id="container">
    <div class="information-content">
        <h2>PRODUCTO: Tipo de Fruta o Verdura</h2>
        <p>Los primeros cinco tipos de productos con más inventario</p>
      <div id = "bar-container"></div>
    </div>
  </div>

</main>
{% endblock %}

{% block footer %}
{% include 'includes/footer.html' %}
{% endblock %}

{% block js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{url_for('static', filename='js/stats.js')}}"></script>
{% endblock %}