{% extends 'layouts/base.html' %}

{% block title %}Minimercado RickRolling{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ver-productos.css')}}" />
{% endblock %}

{% block context %}ver-pedido{% endblock %}

{% block popup %}
{% include 'includes/full_image.html' %}
{% endblock %}

{% block header %}
{% include 'includes/navigation.html'%}
{% endblock %}

{% block content %}

<main>
  <div class="container" id="container">
      <div class="information-content">
          <h2 class="text-xl">Información de Pedidos</h2>
          <p>
              En esta sección podrás ver los pedidos que se encuentran disponibles en la plataforma. Podrás ver el tipo de
              producto, el nombre del producto, la región y comuna donde se encuentra, y una foto del producto.
          </p>
      </div>
      <div class="information-content container-hidden" id="information-content">
          <div class="info">
              <div>
                  <h2>Información Pedido</h2>
                  <p id="nombre_comprador"></p>
                  <p id="region"></p>
                  <p id="comuna"></p>
                  <p id="tipo"></p>
                  <p id="producto"></p>
                  <p id="email"></p>
                  <p id="celular"></p>
                  <p id="descripcion"></p>
              </div>
          </div>
      </div>

      <div class="producto-content">
          <table id="table-content">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Producto</th>
                      <th>Tipo</th>
                      <th>Región</th>
                      <th>Comuna</th>
                      <th>Nombre Comprador</th>
                  </tr>
              </thead>
              <tbody>
                  <!-- Contenido de la tabla -->
              </tbody>
          </table>
          <div>
              <button class="btn" id="btn-back">Anteriores</button>
              <button class="btn" id="btn-next">Siguientes</button>
          </div>
      </div>
  </div>
</main>
{% endblock %}

{% block footer %}
{% include 'includes/footer.html' %}
{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/popup.js')}}"></script>
<script src="{{url_for('static', filename='js/ver-registro.js')}}"></script>
{% endblock %}