{% extends 'layouts/base.html' %}

{% block title %}Minimercado RickRolling{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ver-productos.css')}}" />
{% endblock %}

{% block popup %}{% endblock %}

{% block header %}
{% include 'includes/navigation.html'%}
{% endblock %}

{% block content %}
<main>
    <div class="container" id="container">
      <div class="information-content">
        <!-- <img id="prodimage" src ="../images/minimal-images/palta.png" alt="Default image"> -->
        <h2 class="text-xl">Información de Pedido</h2>

        <p>
          En esta sección podrás ver los productos que se encuentran disponibles en la plataforma. Podrás ver el tipo de producto, el nombre del producto, la región y comuna donde se encuentra, y
          una foto del producto.
        </p>
      </div>
      <div class="producto-content">
    </div>
{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}

{% block js %}
    <script  src="{{url_for('static', filename='js/popup.js')}}"></script>
    <script  src="{{url_for('static', filename='js/display-informacion.js')}}"></script>
{% endblock %}