<div class="information-content container-hidden" id = "information-content">
  <!-- <div class="image">
      <img id="prodimage" src="../images/normal-images/palta.png" alt="Imagen de producto" width="640" height="480" />
    </div> -->
  <div class="info">
    <div>
      <h2>Información Producto</h2>
      <p id="nombre_productor"></p>
      <p id="region"></p>
      <p id="comuna"></p>
      <p id="tipo"></p>
      <p id="producto"></p>
      <p id="email"></p>
      <p id="celular"></p>
      <p id="descripcion"></p>
    </div>
  </div>
  <img src="" alt="foto640x480" id="foto640x480"/>
</div>