<div class="information-content container-hidden" id = "information-content">
  <div class="info">
    <div>
      <h2>Información Producto</h2>
      <p id="nombre_productor"></p>
      <p id="region"></p>
      <p id="comuna"></p>
      <p id="tipo"></p>
      <p id="producto"></p>
      <p id="email"></p>
      <p id="celular"></p>
      <p id="descripcion"></p>
    </div>
  </div>
  <img src="{{url_for('static', filename='app/static/uploads/normal/005a024aabbdef2f07c40a60188f9468423333f321fd9cd848f2f656ac583dd1_190cb475-dc19-433f-ada5-1c944fbb1378.jpg')}}" alt="foto640x480" id="foto640x480"/>
</div>